@import "tailwindcss";

:root {
  --bg: #0b0d12;
  --card: #15171d;
  --accent: #ccff00; /* button + highlight */
  --heading: #ffffff;
  --text: #9ca3af; /* paragraph */
  --instruction: #d1d5db;
  --number: #9ca3af;
  --btn-bg: #1a2312;
  --btn-outline: #374151;
}

@theme inline {
  --color-bg: var(--bg);
  --color-card: var(--card);
  --color-accent: var(--accent);
  --color-heading: var(--heading);
  --color-body: var(--text);
  --color-instruction: var(--instruction);
  --color-number: var(--number);
  --color-btn: var(--btn-bg);
  --color-btn-outline: var(--btn-outline);

  --font-heading: var(--font-oswald), sans-serif;
  --font-inter: var(--font-inter), sans-serif;
}
html {
  scroll-padding-top: 6rem;
  scroll-behavior: smooth;
}
@layer base {
  body {
    background-color: var(--bg);
    color: var(--text);
    font-family: var(--font-inter), sans-serif;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--font-oswald), sans-serif;
    color: var(--heading);
    text-transform: uppercase; /* ঐচ্ছিক: Oswald-এ সুন্দর দেখায় */
    letter-spacing: 0.02em;
  }

  p {
    font-family: var(--font-inter), sans-serif;
    color: var(--text);
  }
}

@layer components {
  .btn-primary {
    background-color: var(--accent);
    color: #000000;
    font-size: 13px;
    font-family: var(--font-inter);
    font-weight: bold;
    padding: 12px 24px;
    border-radius: 0.5rem;
    text-transform: uppercase;
    cursor: pointer;
  }

  .btn-outline {
    background: transparent;
    color: #e5e7eb;
    font-size: 13px;
    border: 1px solid var(--btn-outline);
    padding: 12px 24px;
    border-radius: 0.5rem;
    cursor: pointer;
  }
}
